body {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    width: 510px;
    font-size: 14px;
}

button {
    background-color: #3079B7;
    background: -webkit-linear-gradient(#3079B7, #296da7);
    color: #fff;
    font-weight: 400;
    border: 1px solid #296da7;
    border-radius: none;
    height: 30px;
    width: 80px;
    outline: none;
    font-size: 14px;
}

button:active {
    position: relative;
    top: 1px;
}